
.slide
	h1 Introduction

.slide
	h2 About me
	
	ul
		li Name: Matthias Hochgatterer
		li Education: Mobile Computing - Bachelor and Master 2006-2011
			div Master thesis: "Single-Camera Stereo Vision for Mobile Devices"
		li iOS and Mac Developer since 2008 - currently employed at runtastic
			div iPhone, iPad, Mac apps at www.selfcoded.com
			div Feel free to ask any iOS related questions ;)
		li Contact: matthias.hochgatterer@gmail.com
	
.slide
	h2 Course procedure
	
	div Integrated course (ILV) with 12 * 6 lessons
	ul
		li 1st part (week 1-2): C++, Christian Kaar
		li 2nd part (week 3-4): Qt (Mayrhofer) / BADA (Bortenschlager)

	div Theory lectures (including practical examples)
	ul
		li About 2 lessons per course session
	
	div Lab sessions
	ul
		li Exercises for each topic
		li About 4 lessons per course session
		li Exercises have to be completed in homework

.slide
	h2 Grading and Presence
	
	ul
		li 40 % exam (not scheduled yet)
		li 60 % exercises
		li Each of the two parts has to be positive

	div Presence 
	ul
		li 100 %
		li Signature at the start of each lesson

.slide
	h2 Course overview
	
	table
		tr
			th Date
			th Topics
		tr
			td 29.11.2011
			td Introduction to C++
		tr
			td 30.11.2011
			td Classes and Objects
		tr
			td 1.12.2011
			td Pointers and Dynamic Memory
		tr
			td 2.12.2011
			td Inheritance and Polymorphism
		tr
			td 13.12.2011
			td Exceptions and Templates
		tr
			td 14.12.2011
			td Misc

.slide
	h2 Misc
	
	ul
		li English as course language
		li You can still ask in German
		li Breaks
		li Questions?