
.slide
	h1 Exercise Introduction

.slide
	h2 Grading Aspects

	ul
		li Is the given problem solved? Is the problem solved neatly?
		li Does the program work?
		li Is the source code documented adequate?
		
	p Final grade: Mean average of all corrected exercises

	table
		tr
			td Sehr gut
			td [100 - 90[ %
		tr
			td Gut
			td [90 - 80[ %
		tr
			td Befriedigend
			td [80 - 65[ %
		tr
			td Gen&uuml;gend
			td [65 - 50[ %
		tr
			td Nicht gen&uuml;gend
			td [50 - 0] %

.slide
	h2 Exercise Delivery
	
	ul
		li Source (*.cpp, *.h) and project files <Visual Studio (*.sln, *.vcproj), Xcode (*.xcodeproj)
		li No compiled files (*.exe, UNIX executable)
		li Naming conventions: Root folder ExerciseXX_MC100YY
			ul
				li XX: Exercise number, e.g. 01
				li YY: Student number, e.g. 05
		li One project for each sub exercise, e.g. ExerciseXXn
			ul
				li XX: Exercise number, e.g. 01
				li n: sub number, e.g. a
		li Main source file according to exercise part (Ex01a.cpp)


.slide
	h2 Exercise Delivery
	
	ol
		li Pack folder into zip-file: 
			code ExerciseXX_MC100YY.zip
			div Exclude project folders (bin and obj)
		li Upload to elearning platform (http://elearning.fh-hagenberg.at)
	
	ul
		li Exercise delivery usually has to be done within one week (for the exact dates see elearning platform)
		li If exercise is delivered not in time: 0 points
		li If elearning platform doesn't work: Mail with zip-file to matthias.hochgatterer@gmail.com

.slide
	h2 Exercise Misc
	
	p Source code language: English
	ul
		li Identifiers (variables, classes, methods)
		li Comments
		li Text visible to the user
	
	p Group work
	ul
		li Exercises should be solved independent - no group work
		li If exercise is copied: exercises of all authors is invalid - 0 points
	
.slide
	h1 Any Questions?